{% extends 'monitorweb/base.html' %}

{% block head %}
<title>{{agent.name}} - Agent - IPS</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}

{% block content %}
{{agent.name|json_script:"agent-name"}}

<table class="my-3 table">
    <tbody>
        <tr>
            <th scope="row">Agent name</th>
            <td>{{agent.name}}</td>
        </tr>
        <tr>
            <th scope="row">Agent IP</th>
            <td>{{agent.ip}}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            {% if agent.status == "Healthy" %}
            <td class="text-success">
                <i class="bi bi-check-circle"></i>
                {{agent.status}}
            </td>
            {% else %}
            <td class="text-danger">
                <i class="bi bi-exclamation-circle"></i>
                {{agent.status}}
            </td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Health check URL</th>
            <td>{{agent.health}}</td>
        </tr>
        <tr>
            <th scope="row">Registered at</th>
            <td>{{agent.registered_at}}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex flex-wrap w-100">
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="cpu"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="memory"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskRead"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskWrite"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netIn"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netOut"></canvas></div>
</div>
<script>
    // CPU
    const cpuchartctx = document.getElementById('cpu');
    const cpuchart = new Chart(cpuchartctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'CPU usage (%)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Memory
    const memchartctx = document.getElementById('memory');
    const memchart = new Chart(memchartctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Memory usage (%)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Disk read
    const diskReadChartCtx = document.getElementById('diskRead');
    const diskReadChart = new Chart(diskReadChartCtx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Disk reads (bytes)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1
        }
    });

    // Disk write
    const diskWriteChartCtx = document.getElementById('diskWrite');
    const diskWriteChart = new Chart(diskWriteChartCtx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Disk writes (bytes)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1
        }
    });

    // Network in
    const netinchartctx = document.getElementById('netIn');
    const netinchart = new Chart(netinchartctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Network in (bytes)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1
        }
    });

    // Network in
    const netoutchartctx = document.getElementById('netOut');
    const netoutchart = new Chart(netoutchartctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Network out (bytes)',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            animation: false,
            aspectRatio: 1
        }
    });

    const charts = {
        cpu: cpuchart,
        memory: memchart,
        diskread: diskReadChart,
        diskwrite: diskWriteChart,
        netin: netinchart,
        netout: netoutchart
    };
</script>

{% load static %}
<script src="{% static 'monitorweb/agent_metrics.js' %}"></script>

{% endblock content %}