{% extends 'monitorweb/base.html' %}

{% block head %}
<title>Agents - IPS</title>
{% endblock head %}

{% block content %}
<div class="d-flex w-100 align-items-center">
    <h1 class="display-6"><i><b>IPS</b> - Agents</i></h1>
    <div class="ms-auto"><i>Welcome, <b>{{user}}</b></i></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">IP</th>
            <th scope="col">Health</th>
            <th scope="col">Alerts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>69</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>69</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>69</td>
        </tr>
    </tbody>
</table>
{% endblock content %}