{% extends 'monitorweb/base.html' %}

{% block head %}
<title>Agent - IPS</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}

{% block content %}
<div class="d-flex w-100 align-items-center">
    <h1 class="display-6"><i><b>IPS</b> Agent {{agent.name}}</i></h1>
    <div class="ms-auto"><i>Welcome, <b>{{user}}</b></i></div>
</div>
{{agent.name|json_script:"agent-name"}}

<div class="d-flex flex-wrap w-100">
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="cpu"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="memory"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskRead"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskWrite"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netIn"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netOut"></canvas></div>
</div>
<script>
    // CPU
    const cpuchartctx = document.getElementById('cpu');
    const cpuchart = new Chart(cpuchartctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Memory
    const memchartctx = document.getElementById('memory');
    const memchart = new Chart(memchartctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Disk read
    const diskReadChartCtx = document.getElementById('diskRead');
    const diskReadChart = new Chart(diskReadChartCtx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Disk write
    const diskWriteChartCtx = document.getElementById('diskWrite');
    const diskWriteChart = new Chart(diskWriteChartCtx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Network in
    const netinchartctx = document.getElementById('netIn');
    const netinchart = new Chart(netinchartctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Network in
    const netoutchartctx = document.getElementById('netOut');
    const netoutchart = new Chart(netoutchartctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const charts = {
        cpu: cpuchart,
        memory: memchart,
        diskread: diskReadChart,
        diskwrite: diskWriteChart,
        netin: netinchart,
        netout: netoutchart
    };
</script>

{% load static %}
<script src="{% static 'monitorweb/chart_action.js' %}"></script>
<script src="{% static 'monitorweb/socket.js' %}"></script>

{% endblock content %}