{% extends 'monitorweb/base.html' %}

{% block head %}
<title>Agent - IPS</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% load static %}
{% endblock head %}

{% block content %}
<div class="d-flex w-100 align-items-center">
    <h1 class="display-6"><i><b>IPS</b> Agent {{agent.name}}</i></h1>
    <div class="ms-auto"><i>Welcome, <b>{{user}}</b></i></div>
</div>
{{agent.name|json_script:"agent_name"}}

<div class="d-flex flex-wrap w-100">
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="cpu"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="memory"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskRead"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="diskWrite"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netIn"></canvas></div>
    <div class="m-auto" style="width: 30%; min-width: 150px;"><canvas id="netOut"></canvas></div>
</div>
<script>
    // CPU
    const cpuchart = document.getElementById('cpu');
    new Chart(cpuchart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Memory
    const memchart = document.getElementById('memory');
    new Chart(memchart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Disk read
    const diskReadChart = document.getElementById('diskRead');
    new Chart(diskReadChart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Disk write
    const diskWriteChart = document.getElementById('diskWrite');
    new Chart(diskWriteChart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Network in
    const netinchart = document.getElementById('netIn');
    new Chart(netinchart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Network in
    const netoutchart = document.getElementById('netOut');
    new Chart(netoutchart, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', "White"],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        },
        options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script src="chart_action.js"></script>
<script src="socket.js"></script>

{% endblock content %}