{% extends 'monitorweb/base.html' %}

{% block head %}
<title>Agents - IPS</title>
{% endblock head %}

{% block content %}
<div class="d-flex w-100 align-items-center">
    <h1 class="display-6"><i><b>IPS</b> Agents</i></h1>
    <div class="ms-auto"><i>Welcome, <b>{{user}}</b></i></div>
</div>

{% if page_obj %}
<nav aria-label="Page pagination" class="my-3 d-flex">
    <form class="input-group mb-3" style="max-width: 400px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search">
        <button class="btn btn-outline-secondary" type="button" id="button-search"><i class="bi bi-search"></i></button>
    </form>
    <ul class="pagination ms-auto">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="text-reset page-link" href="?page=1"><i class="bi bi-skip-backward"></i></a>
        </li>
        <li class="page-item">
            <a class="text-reset page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-rewind"></i></a>
        </li>
        {% if page_obj.previous_page_number|add:"-1" >= 1 %}
        <li class="page-item"><a class="text-reset page-link"
                href="?page={{ page_obj.previous_page_number|add:'-1' }}">{{page_obj.previous_page_number|add:"-1"}}</a>
        </li>
        {% endif %}
        <li class="page-item"><a class="text-reset page-link"
                href="?page={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="text-reset page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="text-reset page-link"
                href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
        {% if page_obj.next_page_number|add:1 <= page_obj.paginator.num_pages %} 
        <li class="page-item"><a
                class="page-link"
                href="?page={{ page_obj.next_page_number|add:1 }}">{{page_obj.next_page_number|add:1}}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="text-reset page-link" href="?page={{ page_obj.next_page_number }}"><i class="bi bi-fast-forward"></i></a>
            </li>
            <li class="page-item">
                <a class="text-reset page-link" href="?page={{ page_obj.paginator.num_pages }}"><i
                        class="bi bi-skip-forward"></i></a>
            </li>
            {% endif %}
            <span class="ms-3 my-auto">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    </ul>
</nav>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">IP</th>
            <th scope="col">Health</th>
            <th scope="col">Registered at</th>
        </tr>
    </thead>
    <tbody>
        {% for agent in page_obj %}
        <tr style="cursor: pointer;"><a href="#">
                <th scope="row">{{agent.id}}</th>
                <td>{{agent.name}}</td>
                <td class="text-success"><i class="bi bi-check-circle"></i> Healthy</td>
                <td>{{agent.ip}}</td>
                <td>{{agent.health}}</td>
                <td>{{agent.registered_at}}</td>
            </a></tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-light" role="alert">
    <i class="bi bi-info-circle"></i> No registered agent available.
</div>
{% endif %}

{% endblock content %}