{% extends 'monitorweb/base.html' %}

{% block head %}
<title>Dashboard - IPS</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}

{% block content %}

<div>
    <canvas id="alertChart"></canvas>
</div>
<script>
    const ctx = document.getElementById('alertChart');
    /*
        Statistics:
        - Number of all unprocessed alerts.
        - Number of unhealthy agents.
        - Number of rules set.
        - Number of alerts in a specific time periods for each agents.
    */
    const alertChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: []
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Number of alerts on each agent during the last 5 minutes'
                }
            }
        }
    });
</script>

{% load static %}
<script src="{% static 'monitorweb/dashboard.js' %}"></script>

{% endblock content %}